.rebar
.eunit
*.patch
*.diff
fprof*
callgrind.*
erl_crash.dump
*.so
*.trace
*.log
*.beam
.DS_S*
*~
rel/node*
deps
ebin
logs
master_vars.config
slave_vars.config
rel/ec2-user-data.json
rel/files/node
rel/reltool.config