{sys, [
       {lib_dirs, ["../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "erpubnub", "1",
        [
         erpubnub,
         kernel,
         stdlib,
         jsx,
         hackney,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "erpubnub"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, certifi, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/certifi"}]},
       {app, idna, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/idna"}]},
       {app, mimerl, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/mimerl"}]},
       {app, ssl_verify_hostname, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/ssl_verify_hostname"}]},
       {app, jsx, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/jsx"}]},
       {app, hackney, [{mod_cond, app}, {incl_cond, include},{lib_dir, "/Users/home/erpubnub/deps/hackney"}]},
       {app, erpubnub, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "erpubnub"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/erpubnub", "bin/erpubnub"},
           {copy, "files/erpubnub.cmd", "bin/erpubnub.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
